/*----------------------------
           DEFAULT
----------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body, html {
  height: 100%;
  color: white;
  font-family: 'Open Sans', 'main_font_normal', sans-serif;
  overflow: hidden;

  ul, li, h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .no_padding {
    padding: 0;
  }

  .display_hide {
    display: none;
  }

  .opacity_hide {
    opacity: 0;
    visibility: hidden;
  }
}

.container-fluid {
  height: 100%;

  .wrapper{
    height: 100%;
  }
}